@{
    ViewBag.Title = "Home Page";
}
@*<style type="text/css">
        video {
            object-fit: cover;
            position: absolute;
            width: 100%;
            height: 100%;
            position: inherit;
            z-index: 1;
        }
    </style>

    <div class="home">
        <video autoplay muted loop>
            <source src="~/Content/media/istockphoto-1445028524-640_adpp_is.mp4" type="video/mp4" />
        </video>
    </div>*@

<!-- Jumbotron -->
<div class="p-5 text-center bg-image rounded-3" style="
        background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
        height: 400px;
      ">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">

            </div>
        </div>
    </div>
</div>
<!-- Jumbotron -->

<div class="row">
    <div class="col-md-4">
        <h2>Birthday Celebration</h2>
        <p>
            Whether you're planning a small intimate gathering at home, or a grand blow-out at a fancy location, birthday parties(Opens Overlay) require some thoughtful planning. You'll want to make the guest or guests of honor feel special through all the details, big and small.
        </p>
        <p><a class="btn btn-info" href="https://www.chase.com/personal/credit-cards/education/basics/how-to-plan-a-birthday-party">Check it now </a></p>
    </div>
    <div class="col-md-4">
        <h2>Marriage Anniversary</h2>
        <p>Whether you’re planning a ten-year anniversary party for your friends or planning a diamond wedding anniversary party for your parents, throwing an anniversary party is a great way to honor a couple’s time spent together.</p>
        <p><a class="btn btn-info" href="https://www.shutterfly.com/ideas/how-to-plan-an-anniversary-party/">Check it now </a></p>
    </div>
    <div class="col-md-4">
        <h2>Parties</h2>
        <p>Whether you own a party planning business or you’re just throwing an event for family and friends, this party planning checklist will help you get organized before the big day!</p>
        <p><a class="btn btn-info" href="https://www.socialtables.com/blog/event-planning/party-planning-checklist/#items">Check it now </a></p>
    </div>
</div>