@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color: coral;">
    <h1>Your Planner</h1>
    <p class="lead">Spread your thoughts and we will plan events for you</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Birthday Celebration</h2>
        <p>
            You can pick viral themes that everyone will love, such as Cowgirl/Cowboy, Jungle, Glitz & Glam, Disco, or Rockstar, or build one that is about you and your hobbies. Maybe you’re into crafting or love Marvel or Game of Thrones? Use it to your advantage and come up with something that will remind everyone that it’s your birthday.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Marriage Anniversary</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Parties</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>