.circle {
    display: inline-block;
    background-color: #00d53b;
    margin: 10px;
    border-radius: 50%;
}

.circle-inner {
    color: white;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    height: 50px;
    width: 50px;
    font-size: 30px;
}
